# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Virtuelle miljøer
venv/
env/
.conda/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Data og logger
*.csv
*.log
data/
logs/

# PyBullet
*.bullet
EOF